.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
@keyframes rainbowFlashing {
    0%{color: red}
    20%{color: orange}
    40%{color : yellow}
    60%{color : green}
    80%{color : blue}
    100%{color: purple}
}
body{
    background-image: url("skyscrapers.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
.titleText{
    font-weight: bold;
    font-size:30px;
    font-family: "courier";
    animation-name: rainbowFlashing;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}