
@keyframes rainbowFlashing {
    0%{color: red}
    20%{color: orange}
    40%{color : yellow}
    60%{color : green}
    80%{color : blue}
    100%{color: purple}
}

body{
    background-color: rgb(30, 29, 27);
    text-align: center;
    color: green;
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
    

}

.verticalGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding-left: 4em;
    padding-right: 4em;

}
.normalLookingLink{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: green;
    font-weight: bold;
}
.normalLookingLink:hover{
    animation-name: rainbowFlashing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.list:hover{
    font-size: 2em;
    animation-name: rainbowFlashing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.titleText{
    font-weight: bold;
    font-size:2em;
    font-family: "courier";
    animation-name: rainbowFlashing;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
